*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 12.5px;
    border: 2px solid purple;
    box-shadow: 2px 2px 10px purple;
    color: white;
    background-color: black;

}

button:hover{
    background-color: palevioletred;
}
.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{
    color: rgb(149, 53, 240);
}

header{
    background-color: rgb(245,245,245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 2em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: url("media/miau.png");
    color: rgb(0, 0, 0);
    background-image: linear-gradient(
        0deg,
        rgba (0,0,0,0.5),
        rgba (0,0,0,0.5)
    ) 
    ,url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hero h1{
    color: rgb(0, 0, 0);
}

#somos .container{
    text-align: center;
    padding: 200px 12px;
}

#Normas .container{
    text-align: center;
    padding: 200px 12px;
}

#Normas li{
    margin: 12px 0px;
    font-weight: bold;
}

#unete-aqui{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    height: 80vh;
}

footer p{
    margin: 0;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}